<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>448944432642-usj2jdbu6t9027al6pgnj71nmtpdnu8r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.448944432642-usj2jdbu6t9027al6pgnj71nmtpdnu8r</string>
	<key>API_KEY</key>
	<string>AIzaSyCJHOm3V-zIL7oWSIgNnI-o3lF9NJ7sR14</string>
	<key>GCM_SENDER_ID</key>
	<string>448944432642</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lambdaschool.ZipR</string>
	<key>PROJECT_ID</key>
	<string>zipr-ae6a8</string>
	<key>STORAGE_BUCKET</key>
	<string>zipr-ae6a8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:448944432642:ios:7fa86243594e42a995691b</string>
	<key>DATABASE_URL</key>
	<string>https://zipr-ae6a8.firebaseio.com</string>
</dict>
</plist>